 .login{
    height: 100vh;
    background-color: rgb(145, 125, 125);
    .container{
        .left{
           h1{
            color: black;
           }
           p{

           }
           span{
            
           } 
           button{}

        }
        .right{
            h1{}
            form{
              input{}
              button{}
            }
        }
    }
 }